@mixin transition($method, $time) {
    -webkit-transition: $method $time;
    -moz-transition: $method $time;
    -o-transition: $method $time;
    transition: $method $time;
}

@mixin transitionTf($time) {
    -webkit-transition: -moz-transform $time;
    -moz-transition: -ms-transform $time;
    -o-transition: -o-transform $time;
    transition: transform $time;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin scale($scale) {
    @include transform(scale($scale));
}

// 顶部导航栏
.header {
    background-color: #fff;
    width: 100%;

    .header-content-main {
        visibility: hidden;
        opacity: 0;
        position: absolute;
    }

    &-content {
        height: 68px;
        position: relative;
        color: #333;

        &-logo {
            padding: 13px 0 0;
            width: 140px;
            height: 36px;

            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        &-nav {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 0;
            text-align: center;
            
            ul {
                display: inline-block;
                .active {
                    border-bottom: 3px solid #e02e2e;

                    a {
                        color: #e02e2e;
                    }
                }

                li {
                    float: left;
                    font-size: 14px;
                    margin: 0 17px;
                    line-height: 65px;
                    position: relative;

                    @media screen and (max-width: 1280px) {
                        margin: 0 10px;
                    }

                    .secondary {
                        width: 579px;
                        height: 284px;
                        background-color: #fff;
                        border-radius: 2px;
                        box-shadow: 0 3px 10px 10px rgba(73, 73, 73, $alpha: .35);
                        position: absolute;
                        opacity: 0;
                        visibility: hidden;
                    }

                    &:hover {
                        border-bottom: 3px solid #e02e2e;
                        .secondary {
                            opacity: 1;
                            visibility: visible;
                            z-index: 10;
                        }
                    }
                }
            }
        }

        &-user {
            line-height: 68px;

            .vip-box {
                font-size: 14px;
                padding: 6px 0 6px 33px;
                color: #666;
                background: url(//js.photophoto.cn/web/v1/imgs/vip.png) center left no-repeat;

                &:hover {
                    color: #e02e2e;
                }
            }

            .btn-login {
                width: 86px;
                height: 30px;
                background-color: #fff;
                border: 1px solid #e02e2e;
                border-radius: 16px;
                color: #e02e2e;
                text-align: center;
                line-height: 30px;
                cursor: pointer;

                &:hover {
                    background-color: #e02e2e;
                    color: #fff;
                }
            }

            .header-touxiang {
                position: relative;
                &-pic {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    position: relative;
                    top: 14px;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        overflow: hidden;
                    }
                    .iconfont {
                        font-size: 14px;
                        line-height: 14px;
                        position: absolute;
                        right: -2px;
                        bottom: -2px;
                        border-radius: 50%;
                        border: .1px solid #ffffff;
                    }
                    .free {
                        color: #e5e5e5;
                    }
                    .vip {
                        color: #ff6600;
                    }
                    .svip {
                        color: #e02e2e;
                    }
                }
                .header-touxiang-sanjiao {
                    position: absolute;
                    bottom: 3px;
                    right: 14px;
                    z-index: 1002;
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 8px solid #e02e2e;
                }
                .header-user-box {
                    position: absolute;
                    z-index: 1002;
                    width: 260px;
                    height: 400px;
                    padding: 40px 0 20px;
                    background-color: #fff;
                    top: 65px;
                    right: -110px;
                    border-radius: 0px 0px 4px 4px;
                    box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.25); 
                    border-top: 3px solid #e02e2e;
                    @media screen and (max-width:1500px) and (min-width: 1005px) {
                        position: fixed;
                        right: 0;
                    }
                    .user-info {
                        &-header {
                            position: absolute;
                            width: 240px;
                            top: 12px;
                            left: 10px;
                            line-height: 12px;
                            font-size: 12px;
                            .logout {
                                cursor: pointer;
                                .iconfont {
                                    font-size: 12px;
                                }
                                &:hover {
                                    color: #e02e2e;
                                }
                            }
                        }

                        &-pic {
                            text-align: center;
                            line-height: 54px;
                            img {
                                display: inline-block;
                                width: 54px;
                                height: 54px;
                                border-radius: 50%;
                                overflow: hidden;
                            }
                        }
                        &-name {
                            text-align: center;
                            font-size: 14px;
                            line-height: 14px;
                            margin-top: 10px;
                        }
                        &-userid {
                            line-height: 12px;
                            text-align: center;
                            font-size: 12px;
                            color: #999;
                            margin-top: 8px;
                        }
                        &-divider {
                            border-bottom: 1px solid #E6EBEB;
                            margin-top: 15px;
                        }
                        &-btn {
                            margin-top: 15px;
                            text-align: center;
                            line-height: 32px;
                            .to-vip {
                                font-size: 14px;
                                display: inline-block;
                                height: 32px;
                                width: 125px;
                                text-align: center;
                                color: #fff;
                                border: 1px solid #e33939;
                                opacity: 0.92;
                                background: linear-gradient(#e33939 0%, #e02d2d 33%, #e02222 66%, #e00b0b 100%);
                                border-radius: 17px;
                                cursor: pointer;
                                &:hover {
                                    background: #fff;
                                    color: #e33939;
                                }
                            }
                        }
                        &-menu {
                            li {
                                line-height: 42px;
                                height: 42px;
                                font-size: 14px;
                                text-indent: 20px;
                                color: #4D4D4D;
                                .iconfont {
                                    display: inline-block;
                                    width: 40px;
                                    text-indent: 0;
                                    text-align: center;
                                }
                                &:hover {
                                    background-color: #e02e2e;
                                    color: #fff;
                                }
                            }
                        }
                        &-banner {
                            text-align: center;
                            img {
                                width: 240px;
                                height: 46px;
                            }
                        }
                    }
                }
                .user-info-contain {
                    opacity: 0;
                    visibility: hidden;
                }
                &:hover {
                    .user-info-contain {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

// 子页面搜索框
#search {
    background-color: #fff;

    .search-box {
        width: 800px;
        height: 50px;
        margin: 0 auto;
        padding: 16px 0;
    }

    .search {
        display: flex;
        flex-wrap: nowrap;
        position: relative;

        &-select {
            width: 85px;
            height: 100%;
            line-height: 50px;
            display: flex;
            justify-content: center;
            border: 1px solid #e6e6e6;
            border-radius: 6px 0 0 6px;
            border-right: none;
            cursor: pointer;

            &-icon {
                width: 12px;
                background: url(//js.photophoto.cn/web/v1/imgs/arrow_down.png) center center no-repeat;
            }

            &-options {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                left: 0;
                top: 52px;
                width: 85px;
                border-radius: 4px;
                background-color: #fff;
                box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
                z-index: 1;

                ul {
                    li {
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        font-size: 14px;

                        &:hover {
                            color: #e02e2e;
                        }
                    }

                    .active {
                        background-color: rgba($color: #ff0000, $alpha: 0.1);
                        color: #e02e2e;
                    }
                }
            }

            &:hover {
                .search-select-options {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &-text {
            flex: 1;
            line-height: 50px;
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;

        }

        &-btn {
            width: 88px;
            border-radius: 0 6px 6px 0;
            background: #e02e2e url(//js.photophoto.cn/web/v1/imgs/search.png) center center no-repeat;
            cursor: pointer;
        }
    }
}

// 顶部导航栏吸顶效果
.header-fixed {
    position: fixed;
    top: 0;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    z-index: 10;

    .header-content {
        &-nav {
            opacity: 0;
            visibility: hidden;
        }

        &-main {
            visibility: visible;
            opacity: 1;
            display: flex;
            justify-content: space-between;
            left: 230px;

            @media screen and (max-width: 1280px) {
                left: 180px;
            }

            .main-nav {
                width: 100px;
                line-height: 68px;
                display: inline-block;
                background: url(//js.photophoto.cn/web/v1/imgs/more-icon.png) 75px center no-repeat;
                position: relative;
                cursor: pointer;

                &-list {
                    opacity: 0;
                    visibility: hidden;
                    width: 114px;
                    position: absolute;
                    top: 58px;
                    left: -20px;
                    box-shadow: 0px 3px 8px 6px rgba(0, 0, 0, 0.15);
                    background-color: #fff;
                    border-radius: 4px;

                    ul {
                        li {
                            line-height: 34px;
                            text-indent: 26px;

                            a {
                                font-size: 14px;
                            }
                        }

                        .active {
                            background-color: rgba($color: #e02e2e, $alpha: 0.1);

                            a {
                                color: #e02e2e;
                            }
                        }
                    }
                }

                &:hover {
                    .main-nav-list {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            .main-search {
                width: 584px;
                height: 44px;
                display: flex;
                flex-wrap: nowrap;
                margin-left: 70px;

                @media screen and (max-width: 1280px) {
                    margin-left: 30px;
                    width: 450px;
                }

                &-select {
                    width: 80px;
                    border: 1px solid #e6e6e6;
                    border-right: none;
                    border-radius: 4px;
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    cursor: pointer;

                    .select-text {
                        line-height: 44px;
                    }

                    .select-icon {
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        background: url(//js.photophoto.cn/web/v1/imgs/arrow_down.png) center center no-repeat;
                    }

                    &:hover {
                        .select-icon {
                            background: url(//js.photophoto.cn/web/v1/imgs/arrow_up.png) center center no-repeat;
                        }
                    }

                    .select-divider {
                        height: 30px;
                        position: absolute;
                        right: 1px;
                    }

                    .select-option {
                        width: 80px;
                        position: absolute;
                        top: 40px;
                        box-shadow: 0px 3px 8px 6px rgba(0, 0, 0, 0.15);
                        background-color: #fff;
                        border-radius: 4px;
                        visibility: hidden;
                        opacity: 0;

                        ul {
                            li {
                                text-align: center;
                                font-size: 14px;
                                height: 30px;
                                line-height: 30px;

                                &:hover {
                                    color: #e02e2e;
                                }
                            }

                            .active {
                                background-color: rgba($color: #e02e2e, $alpha: 0.1);
                                color: #e02e2e;
                            }
                        }
                    }

                    &:hover {
                        .select-option {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                &-text {
                    flex: 1;
                    border-top: 1px solid #e6e6e6;
                    border-bottom: 1px solid #e6e6e6;
                    text-indent: 10px;
                }

                &-btn {
                    width: 64px;
                    background: #e02e2e url(//js.photophoto.cn/web/v1/imgs/search.png) center center no-repeat;
                    border-radius: 0 6px 6px 0;
                    cursor: pointer;
                }
            }
        }
    }
}

// 子页面banner图
.secondary-banner {
    height: 90px;
    width: 100%;
    background: url(//js.photophoto.cn/web/v1/imgs/banner_secondary.png) center center no-repeat;
}

// 面包屑导航
#bread {
    background-color: #fff;

    .bread-list {
        ul {
            li {
                font-size: 12px;
                color: #999;
                float: left;
                line-height: 42px;

                a {
                    color: #999;

                    &:hover {
                        color: #e02e2e;
                    }
                }

                span {
                    padding: 0 6px;
                }
            }
        }
    }
}

// 素材详情页
.download {
    h2 {
        font-size: 20px;
        font-weight: 500;
    }
    &-content {
        margin-top: 30px;
        &-image {
            background-color: #fff;
            padding: 15px 30px;
            width: 780px;
            position: relative;
            border-radius: 4px;
            box-shadow: 0px 2px 10px 0px rgba(31,31,31,0.1); 

            .report {
                position: absolute;
                top: 20px;
                right: 60px;
                font-size: 12px;
                color: #999;
            }
            .image-header {
                color: #666;
                font-size: 12px;
                line-height: 30px;
                a {
                    color: #e02e2e;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .vip-logo {
                    width: 22px;
                    height: 20px;
                    display: inline-block;
                    position: relative;
                    top: 5px;
                    margin-right: 5px;
                    background-image: url(//js.photophoto.cn/web/v1/imgs/vip-png.png);
                }
            }
            .image-main {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .image-desc {
                font-size: 12px;
                color: #999;
                line-height: 18px;
                &-tag {
                    margin-top: 5px;
                    a {
                        color: #999;
                        &:hover {
                            color: #e02e2e;
                        }
                    }
                }
            }
        }
        .download-right {
            width: 398px;
            &-btn {
                .btn {
                    height: 56px;
                    line-height: 56px;
                    text-align: center;
                    color: #fff;
                    border-radius: 4px;
                    font-size: 20px;
                    opacity: 0.92;
                    cursor: pointer;
                    .iconfont {
                        font-size: 26px;
                    }
                }
                .download-btn {
                    width: 220px;
                    background: linear-gradient(45deg, #e35b5b 0%, #e02e2e 100%);
                }
                .collect-btn {
                    width: 158px;
                    background: linear-gradient(45deg, #ff8330 0%, #e25656 0%, #ff8533 0%, #ff6600 100%);
                }
            }
            &-main {
                background-color: #fff;
                padding: 20px 30px;
                box-shadow: 0px 2px 10px 0px rgba(31,31,31,0.1); 
                border-radius: 4px;
                .right-item {
                    position: relative;
                    margin-bottom: 20px;
                    .label {
                        display: inline-block;
                        width: 65px;
                        font-size: 14px;
                        color: #999;
                        text-align:justify;
                        text-justify:distribute-all-lines;/*ie6-8*/
                        text-align-last:justify;/* ie9*/
                        -moz-text-align-last:justify;/*ff*/
                        -webkit-text-align-last:justify;/*chrome 20+*/
                    }
                    .text {
                        position: absolute;
                        right: 0;
                        top: 2px;
                        font-size: 14px;
                        color: #666;
                        .iconfont {
                            color: #666;
                            font-size: 24px;
                            margin: 0 7px;
                            &:hover {
                                color: #e02e2e;
                            }
                        }
                    }
                }
                .right-divider {
                    margin-bottom: 20px;
                    border-bottom: 1px solid #e6e6e6;
                }
                .title {
                    padding-top: 20px;
                    .label {
                        color: #666;
                    }
                }
                .tag-box {
                    .tag-item {
                        border: 1px solid #ebebeb;
                        border-radius: 15px;
                        float: left;
                        letter-spacing: 1px;
                        padding: 5px 20px;
                        color: #666;
                        font-size: 14px;
                        margin: 10px 20px 0 0;
                        &:hover {
                            border: 1px solid #e02e2e;
                            color: #e02e2e;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1280px) {
        .download-content-image {
            width: 600px;
        }
        .download-right {
            width: 318px;
            .download-btn {
                width: 170px;
            }
            .collect-btn {
                width: 128px;
            }
        }
    }
}

.recommend {
    &-title {
        font-size: 18px;
        letter-spacing: 2px;
    }
}

// 素材下载页
.xiazai-content {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 2px 10px 0px rgba(31,31,31,0.1);
    overflow: hidden;
    margin-top: 30px;
    &-banner {
        height: 60px;
        background: url(../imgs/xiazai-banner.png) center center no-repeat;
    }
    &-main {
        padding: 35px 0 55px 225px;
        position: relative;
        .image {
            width: 158px;
            height: 230px;
            padding: 18px 25px;
            background-image: linear-gradient(to bottom, #eaf4ff 0%, #b5d9e7 100%);
            img {
                width: 100%;
                height: 100%;
                box-shadow: 4px 10px 16px 1px rgba(0,0,0,0.28);
            }
        }
        .info {
            margin-left: 50px;
            h4 {
                font-size: 16px;
                font-weight: 400;
            }
            p {
                margin-top: 20px;
                font-size: 14px;
                color: #999;
            }
            .button {
                margin-top: 30px;
                width: 198px;
                height: 52px;
                line-height: 52px;
                text-align: center;
                display: inline-block;
                font-size: 18px;
                border-radius: 4px;
                overflow: hidden;
                cursor: pointer;
                .iconfont {
                    font-size: 20px;
                }
            }
            .button-vip {
                opacity: 0.92;
                background: linear-gradient(#e25656 0%, #e02e2e 100%);
                color: #fff;
                border: 1px solid #e25656;
            }
            .button-free {
                opacity: 0.92;
                color: #999;
                border: 1px solid #e6e6e6;
                margin-left: 30px;
            }
        }
        .report {
            position: absolute;
            font-size: 12px;
            color: #999;
            right: 15px;
            top: 15px;
            cursor: pointer;
            &:hover {
                color: #e02e2e;
            }
        }
    }
}

.vip-download-banner {
    height: 100px;
    background: url(../imgs/vip-download1920.png) center center no-repeat;
}

// 举报弹窗
#report-box {
    width: 320px;
    height: 342px;
    padding: 40px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -211px;
    z-index: 1002;
    display: none;
    .close-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        color: #999999;
        font-size: 12px;
        cursor: pointer;
    }
    .report-head {
        font-weight: 700;
        padding-bottom: 14px;
        border-bottom: 1px solid #ebebeb;
        &-tag {
            font-size: 12px;
            font-weight: 400;
            color: #999;
            span {
                font-size: 16px;
                color: #FF0000;
                font-weight: 700;
            }
        }
    }
    .report-type {
        margin-top: 20px;
        border-radius: 2px;
        position: relative;
        input {
            cursor: pointer;
            border: 1px solid #e6e6e6;
            font-size: 14px;
            color: #999;
            line-height: 36px;
            text-indent: 10px;
            width: 100%;
            background-color: #fff;
        }
        .iconfont {
            position: absolute;
            right: 20px;
            line-height: 38px;
            top: 0;
            color: #666;
            font-size: 10px;
        }
        span {
            font-size: 16px;
            position: absolute;
            line-height: 38px;
            left: -15px;
            top: 2px;
            color: #FF0000;
            font-weight: 700;
        }
        &:hover {
            input {
                border: 1px solid #e02e2e;
            }
        }
    }
    .report-desc {
        position: relative;
        margin-top: 20px;
        textarea {
            border: 1px solid #e6e6e6;
            font-size: 14px;
            color: #999;
            padding: 10px;
            width: 298px;
            background-color: #fff;
            height: 65px;
            resize: none;
            line-height: 24px;
        }
        span {
            font-size: 16px;
            position: absolute;
            line-height: 38px;
            left: -15px;
            top: 2px;
            color: #FF0000;
            font-weight: 700;
        }
    }
    .report-phone {
        margin-top: 20px;
        border: 1px solid #e6e6e6;
        font-size: 14px;
        color: #999;
        line-height: 36px;
        text-indent: 10px;
        width: 100%;
        background-color: #fff;
    }
    .report-btn-box {
        padding-left: 30px;
        .report-btn {
            margin-top: 40px;
            width: 112px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            letter-spacing: 2px;
            border-radius: 2px;
            display: inline-block;
            cursor: pointer;
            &-cancel {
                background: #ffffff;
                border: 1px solid #e6e6e6;
                &:hover {
                    color: #e02e2e;
                    border: 1px solid #e02e2e;
                }
            }
            &-submit {
                margin-left: 30px;
                color: #fff;
                background: #e02e2e;
                border: 1px solid #e02e2e;
                &:hover {
                    background-color: #fff;
                    color: #e02e2e;
                }
            }
        }
    }
}

// 次级页面导航菜单
#menu {
    background-color: #fff;

    .menu {
        &-nav {
            &>ul {
                &>li {
                    float: left;
                    height: 40px;
                    line-height: 40px;
                    font-size: 14px;
                    margin-left: 28px;
                    position: relative;

                    &:first-child {
                        margin-left: 0;
                    }

                    cursor: pointer;

                    span {
                        padding: 0 14px;
                        width: 12px;
                        background: url(//js.photophoto.cn/web/v1/imgs/arrow_down.png) center center no-repeat;
                    }

                    &:hover {
                        font-weight: 700;

                        .menu-nav-options {
                            font-weight: 400;
                        }

                        span {
                            background: url(//js.photophoto.cn/web/v1/imgs/arrow_up.png) center center no-repeat;
                        }

                        .menu-nav-options {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    .menu-nav-options {
                        opacity: 0;
                        visibility: hidden;
                        position: absolute;
                        top: 40px;
                        left: -68px;
                        z-index: 1;
                        width: 220px;
                        background: #ffffff;
                        border-radius: 4px;
                        box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.25);
                        cursor: default;

                        ul {
                            height: 220px;
                            float: left;

                            li {
                                height: 44px;
                                width: 110px;
                                text-align: center;
                                cursor: pointer;

                                &:hover {
                                    color: #e02e2e;
                                }
                            }

                            .active {
                                color: #e02e2e;
                                background-color: rgba($color: #e02e2e, $alpha: .08);
                            }
                        }
                    }
                }
            }
        }
    }
}

// fleximagest图片流插件
.flex-images { overflow: hidden; }
.flex-images .item { float: left; margin: 4px; border: 1px solid #eee; box-sizing: content-box; overflow: hidden; position: relative;  }
.flex-images .item img { display: block; width: auto; height: 100%; }

// 分页器mini
.paging-mini {
    span {
        height: 26px;
        line-height: 26px;
    }

    .icon {
        cursor: pointer;

        &:hover {
            color: #e02e2e;
        }
    }

    .disable {
        color: #999;
        cursor: default;

        &:hover {
            color: #999;
        }
    }

    .current {
        display: inline-block;
        text-align: center;
        width: 58px;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
    }

    .slash {
        margin: 0 12px;
    }
}

// 分页器
#page {
    width: 850px;
    margin: 0 auto;
    .page {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        .page-list {
            display: flex;
            flex-wrap: nowrap;
            .active {
                color: #fff;
                background: #e02e2e;
                border: 1px solid #e02e2e
            }
        }
        .page-current {
            margin-left: 30px;
            input {
                display: inline-block;
                margin: 0 10px;
                width: 38px;
                height: 38px;
                background: #ffffff;
                border: 1px solid #e6e6e6;
                border-radius: 4px;
                text-align: center;
                font-size: 14px;
            }
        }
        .btn {
            height: 38px;
            background: #ffffff;
            border: 1px solid #e6e6e6;
            border-radius: 4px;
            line-height: 38px;
            font-size: 14px;
            text-align: center;
            cursor: pointer;
            &:hover {
                color: #e02e2e;
                border: 1px solid #e02e2e;
            }
        }
        .page-up,.page-down {
            width: 68px;
        }
        .page-go {
            width: 58px;

        }
        .btn-page {
            width: 38px;
            margin: 0 7.5px;
        }
    }
}

// 页面底部

.footer {
    background-color: #edf1f2;
    &::before {
        display: block;
        height: 100%;
    }

    @media screen and (max-width: 1280px) {
        .footer-helper {
            margin-left: 50px;
        }

        .footer-create {
            margin-left: 50px;
        }

        .footer-hottag {
            margin-left: 50px;
        }
    }

    &-main {

        &-title {
            font-size: 18px;
            margin: 25px 0;
        }

        .footer-about {
            width: 362px;

            &-content {
                color: #666;
                line-height: 24px;
            }
        }

        ul {
            li {
                a {
                    color: #666;
                    font-size: 14px;
                    line-height: 28px;

                    &:hover {
                        color: #e02e2e;
                    }
                }
            }
        }

        .footer-customer {
            &-phone {
                font-weight: 700;
                line-height: 18px;
                text-indent: 26px;
                background: url(//js.photophoto.cn/web/v1/imgs/phone-icon.png) center left no-repeat;
            }

            &-qq {
                width: 120px;
                height: 34px;
                background-color: #e02e2e;
                border-radius: 4px;
                text-align: center;
                color: #fff;
                font-size: 14px;
                line-height: 34px;
            }
        }
    }

    &-links {
        a {
            color: #999;

            &:hover {
                color: #e02e2e;
            }
        }

        &-title {
            color: #999;
            line-height: 20px;
            display: inline-block;
            cursor: pointer;

            .arrow-icon {
                height: 20px;
                width: 12px;
                background: url(//js.photophoto.cn/web/v1/imgs/arrow_down.png) center center no-repeat;
            }
        }

        .open {
            .arrow-icon {
                @include transform(rotate(180deg))
            }
        }

        &-nav {
            display: none;
            ul {
                li {
                    float: left;
                    margin-left: 30px;
                    cursor: pointer;

                    &:first-child {
                        margin-left: 0;
                    }
                }

                .active {
                    a {
                        color: #333;
                    }
                }
            }
        }

        &-item {
            display: none;
            ul {
                li {
                    float: left;
                    margin-left: 20px;

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .copyright-space {
        height: 80px;
    }
    .copyright {
        position: absolute;
        bottom: 10px;
        right: 0;
        left: 0;
        margin: auto;

        p {
            text-align: center;
            line-height: 24px;
        }
    }
}

.footer-links-active {
    .footer-links-title {
        .arrow-icon {
            background: url(//js.photophoto.cn/web/v1/imgs/arrow_up.png) center center no-repeat;
        }
    }
    .footer-links-nav, .footer-links-item {
        display: block;
    }
}

.bottom-nav {
    position: fixed;
    bottom: 100px;
    right: 36px;

    .bb {
        border-bottom: 1px solid #ececec;
    }

    &:hover {
        .icon-detail {
            display: block;
        }
    }

    .icon-list {
        border: 1px solid #ececec;

        &-item {
            width: 40px;
            height: 40px;
            background-color: #f2f6f7;
            border-radius: 2px 2px 0 0;
            position: relative;

            .detail {
                position: absolute;
                right: -50px;
                width: 0px;
                height: 40px;
                background-color: #606060;
                border-radius: 2px 0 0 2px;
                line-height: 40px;
                text-align: center;
                color: #fff;
                font-size: 12px;
                opacity: 0;
                visibility: hidden;
                @include transition(right, .5s);
                @include transition(width, .5s);
                overflow: hidden;
            }

            &:hover,
            .detail:hover {
                .detail {
                    visibility: visible;
                    opacity: 1;
                    right: 40px;
                    width: 90px;
                }
            }
        }

        &-item1 {
            background: #f2f6f7 url(//js.photophoto.cn/web/v1/imgs/fankui.png) center center no-repeat;
        }

        &-item2 {
            background: #f2f6f7 url(//js.photophoto.cn/web/v1/imgs/kefu.png) center center no-repeat;
        }

        &-item3 {
            background: #f2f6f7 url(//js.photophoto.cn/web/v1/imgs/qianbao.png) center center no-repeat;
        }

        &-item4 {
            background: #f2f6f7 url(//js.photophoto.cn/web/v1/imgs/ziyuan.png) center center no-repeat;
        }
    }
}

// 登录窗口，模态框
#login-box {
    width: 400px;
    height: 470px;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -235px;
    padding: 40px;
    position: fixed;
    z-index: 1002;
    box-sizing: border-box;
    display: none;
    .login-box-close {
        position: absolute;
        right: 10px;
        top: 5px;
        cursor: pointer;
        .iconfont {
            font-size: 12px;
        }
    }
    .login-header {
        &-left {
            font-weight: 700;
        }
    }
    .login-divider {
        margin: 14px 0 20px 0;
        border-bottom: 1px solid #ebebeb;
    }
    .login-main {
        li {
            margin-bottom: 10px;
        }
        input {
            height: 36px;
            line-height: 36px;
            width: 100%;
            background: #ffffff;
            border: 1px solid #e6e6e6;
            border-radius: 2px;
            font-size: 14px;
            text-indent: 13px;
            &:focus {
                border: 1px solid #14a8ec;
            }
        }
        .error {
            border: 1px solid #e02e2e;
        }
        .login-tips {
            height: 20px;
            font-size: 12px;
            color: #e02e2e;
            line-height: 20px;
            text-indent: 13px;
            opacity: 0;
        }
    }
    .btn {
        height: 36px;
        line-height: 36px;
        text-align: center;
        background-color: #e02e2e;
        border: 1px solid #e02e2e;
        color: #fff;
        cursor: pointer;
        &:hover {
            color: #e02e2e;
            background-color: #fff;
        }
    }
    .third-text {
        text-align: center;
        border-bottom: 1px solid #ebebeb;
        margin-top: 16px;
        span {
            color: #666;
            font-size: 12px;
            background-color: #fff;
            position: relative;
            top: 6px;
            display: inline-block;
            width: 125px;
        }
    }
    .third-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 38px;
        a {
            cursor: pointer;
            display: inline-block;
            .iconfont {
                font-size: 54px;
                &:hover {
                    color: #e02e2e;
                }
            }
            .btn-qq {
                color: #16b5ff;
            }
            .btn-wx {
                color: #00c800;
            }
        }
        &-divider {
            height: 26px;
            border-right: 1px solid #ebebeb;
        }
    }
}

// 滑动插件
.ui-slider-wrap {
	background: #e8e8e8;
	position: relative;
}

.ui-slider-wrap .ui-slider-bg {
	width: 0;
}

.ui-slider-wrap .ui-slider-btn {
	position: absolute;
	top: 0;
	left: 0;
	cursor: move;
	text-align: center;
	border: 1px solid #ccc;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.ui-slider-wrap .ui-slider-btn {
	background: #fff url(//js.photophoto.cn/web/v1/imgs/forward.png) no-repeat center;
}

.ui-slider-wrap .ui-slider-btn.success {
	background-image: url(//js.photophoto.cn/web/v1/imgs/success.png);
}

.ui-slider-wrap .ui-slider-text {
	width: 100%;
	height: 100%;
	font-family: "微软雅黑";
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	color: #666;
}

.ui-slider-wrap .ui-slider-no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#mask {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.66;
    background: #000000;
    z-index: 1001;
    top: 0;
    display: none;
}

// 预览图
.preview-index {
    .preview-box {
        width: 298px;
        height: 370px;
        margin: 20px 0 0 22px;

        &:nth-child(4n+1) {
            margin: 20px 0 0 0;
        }

        float: left;
        background-color: #fff;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        text-align: center;

        &>a:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        img {
            width: 220px;
            height: 320px;
            margin-top: 22px;
            box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.28);
        }

        .preview-main {
            opacity: 0;
            visibility: hidden;
            &-title {
                position: absolute;
                bottom: 0;
                @include transition(bottom, .5s);
            }
            &-tag {
                position: absolute;
                top: -20px;
                @include transition(top, .5s);
            }
        }
        .preview-mask {
            opacity: 0;
            visibility: hidden;
            width: 100%;
            height: 100%;
            background-color: #262626;
            position: absolute;
            top: 0;
            left: 0;
        }

        .banquan {
            width: 34px;
            height: 34px;
            position: absolute;
            top: 0;
            left: 0;
            background: url(//js.photophoto.cn/web/v1/imgs/-e-banquan.png) center center no-repeat;
        }
        
        &:hover {
            .preview-mask {
                opacity: .3;
                visibility: visible;
            }

            .preview-main {
                opacity: 1;
                visibility: visible;

                &-tag {
                    right: 10px;
                    top: 10px;
                }

                &-colected {
                    width: 76px;
                    height: 28px;
                    line-height: 28px;
                    background-color: #a6a6a6;
                    border-radius: 2px;
                    color: #fff;
                    cursor: pointer;
                    display: none;
                }

                .colected {
                    .preview-main-favor {
                        display: none;
                    }

                    .preview-main-colected {
                        display: block;
                    }
                }

                &-btn {
                    background-image: linear-gradient(90deg, #e25656, #e02e2e);
                    font-size: 12px;
                    color: #fff;
                    width: 76px;
                    height: 28px;
                    border-radius: 2px;
                    opacity: .92;
                    line-height: 28px;
                    cursor: pointer;

                    &:hover {
                        background: #e02e2e;
                        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .4);
                    }
                }

                &-favor {
                    background: #fff url(//js.photophoto.cn/web/v1/imgs/favor.png) 8px center no-repeat;
                    border-radius: 2px;
                    height: 28px;
                    width: 28px;
                    cursor: pointer;
                    @include transition(width, .5s);
                    overflow: hidden;

                    .favor-text {
                        display: none;
                        line-height: 28px;
                        color: #fff;
                        text-indent: 1.5em;
                    }

                    &:hover {
                        width: 76px;
                        background: #f60 url(//js.photophoto.cn/web/v1/imgs/favor-hover.png) 14px center no-repeat;

                        .favor-text {
                            display: inline-block;
                        }
                    }
                }

                &-title {
                    width: 100%;
                    text-align: center;
                    bottom: 42px;
                    a {
                        color: #fff;
                        font-size: 14px;
                    }
                }
            }
        }

        @media screen and (max-width: 1280px) {
            width: 234px;
            height: 282px;

            img {
                width: 174px;
                height: 253px;
                margin-top: 15px;
            }
        }
    }
}

.flex-images {
    .item {
        border-radius: 4px;
        background: linear-gradient(#699fd1, #f0f8ff);
        &>a:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .item-img {
            box-sizing: border-box;
            padding: 20px;
            height: 100%;
            width: 100%;
            img {
                height: 100%;
                width: 100%;
                // border: 20px solid transparent;
                box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.28);
            }
        }
        .preview-main {
            opacity: 0;
            visibility: hidden;
            &-title {
                position: absolute;
                bottom: 0;
                @include transition(bottom, .5s);
            }
            &-tag {
                position: absolute;
                top: -20px;
                @include transition(top, .5s);
            }
        }
        .preview-mask {
            opacity: 0;
            visibility: hidden;
            width: 100%;
            height: 100%;
            background-color: #262626;
            position: absolute;
            top: 0;
            left: 0;
        }
        &:hover {
            .preview-mask {
                opacity: .3;
                visibility: visible;
            }
            .preview-main {
                opacity: 1;
                visibility: visible;

                &-tag {
                    right: 10px;
                    top: 10px;
                }

                &-colected {
                    width: 76px;
                    height: 28px;
                    line-height: 28px;
                    background-color: #a6a6a6;
                    border-radius: 2px;
                    color: #fff;
                    cursor: pointer;
                    display: none;
                }

                .colected {
                    .preview-main-favor {
                        display: none;
                    }

                    .preview-main-colected {
                        display: block;
                    }
                }

                &-btn {
                    background-image: linear-gradient(90deg, #e25656, #e02e2e);
                    font-size: 12px;
                    color: #fff;
                    width: 76px;
                    height: 28px;
                    border-radius: 2px;
                    opacity: .92;
                    line-height: 28px;
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        background: #e02e2e;
                        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .4);
                    }
                }

                &-favor {
                    background: #fff url(//js.photophoto.cn/web/v1/imgs/favor.png) 8px center no-repeat;
                    border-radius: 2px;
                    height: 28px;
                    width: 28px;
                    cursor: pointer;
                    @include transition(width, .5s);
                    overflow: hidden;

                    .favor-text {
                        display: none;
                        line-height: 28px;
                        color: #fff;
                        text-indent: 3em;
                    }

                    &:hover {
                        width: 76px;
                        background: #f60 url(//js.photophoto.cn/web/v1/imgs/favor-hover.png) 14px center no-repeat;

                        .favor-text {
                            display: inline-block;
                        }
                    }
                }

                &-title {
                    width: 100%;
                    text-align: center;
                    bottom: 42px;
                    a {
                        color: #fff;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
// 分割线
.divider-e5 {
    border-bottom: 1px solid #e5e5e5;
}

.divider-d8 {
    border-bottom: 1px solid #d8d8d8;
}

.divider-vertical-e6 {
    border-right: 1px solid #e6e6e6;
}

// tips弹窗
body {
    .tips-style {
        position: fixed;
        margin: auto;
        top: 55px;
        left: 0;
        right: 0;
        text-align: center;
        .tips-main {
            z-index: 1003;
            display: inline-block;
            padding: 0 26px;
            height: 50px;
            line-height: 50px;
            background: #ffffff;
            border: 1px solid #ffffff;
            border-radius: 4px;
            box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.25);
            .text {
                font-size: 14px;
            }
            .iconfont {
                color: #ff8a3b;
            }
        }
    }
}